.secao-contato {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
    background-color: #05031b;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    margin: 15px 0;
}

.contato-box > div {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.contato-box img {
    width: 18px;
    height: fit-content;
}

.contato-box span {
    font-size: 14px;
    margin-left: 10px;
}